{% extends 'default.html' %}
{% block title %}
Main Page
{% endblock %}
<!DOCTYPE html>
<head>
    
</head>
<body>
    <!-- 점보트론 -->
    <div class="container">
            <div class="jumbotron">
              <h1 class="display-3" align="center" style="text-shadow: gray 5px 5px 5px">Well Come!</h1>
              <p class="lead" align="right">환영합니다! </p>
              <hr class="my-4">
              <p><h2 align="center">영화의 세계로 당신을 초대합니다.</h2></p>
              </div>
          </div><br>
</body>
